.colors-1{
    color: coral;
}

.colors-2{
    color: rgb(122 181 157 / 48%);
}

.colors-3{
    color: #766576d8;
}

.colors-4{
    color: rgb(255, 0, 0);
}

.colors-5{
    color: rgba(255, 0, 0, 0.3);
}