a {
    color: blueviolet;
    text-decoration: none;
    /* transition: all .2s; */
}

a:hover {
    color: orange;
    font-size: 2rem;
}

/* a:visited{
    color: rgb(0, 255, 98);
} */

a:active{
    color: blue;
}

.css:hover{
    background-color: salmon;

}

.btn{
    background: #280170;
    color:  cyan;
    padding: 15px 20px;
    border: none;

    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.8;
}